
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}


<!-- Start Main Slider Style2 -->
<section class="main-slider style2" style="background-image: url(/mehedi.asiandevelopers.com/demo/carepress/assets/images/slides/main-slider-style2-bg.png)">
    <div class="banner-curve"></div>
    <div class="container">
        <div class="content text-center clearfix">
            @*<div class="video-holder-box-style2 wow zoomIn animated" data-wow-delay="0.5s" data-wow-duration="1500ms">
                    <div class="icon">
                        <a class="video-popup thm-bgclr" title="CarePress Video Gallery" href="https://www.youtube.com/watch?v=a5uQMwRMHcs&list=RDa5uQMwRMHcs&start_radio=1&ab_channel=DaftPunkVEVO">
                            <span class="icon-play-button-1"></span>
                        </a>
                    </div>
                </div>*@
            <h5 class="wow slideInUp animated" data-wow-delay="0.6s" data-wow-duration="1500ms">//<span>Enjoy Your Holiday</span>//</h5>
            <h2 class="wow slideInUp animated" data-wow-delay="0.8s" data-wow-duration="1500ms">Get WorldClass<br> Grooming Service<span class="round"></span></h2>
        </div>
    </div>
</section>
<!-- End Main Slider Style2 -->
<section class="featured-area">
    <div class="container">
        <div class="row">
            <!--Start Single Featured Box-->
            <div class="col-xl-4">
                <div class="single-featured-box">
                    <div class="inner">
                        <div class="icon">
                            <span class="icon-dog"></span>
                        </div>
                        <div class="text">
                            <h3>Dog Boarding</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Featured Box-->
            <!--Start Single Featured Box-->
            <div class="col-xl-4">
                <div class="single-featured-box">
                    <div class="inner">
                        <div class="icon">
                            <span class="icon-dog-food clr2"></span>
                        </div>
                        <div class="text">
                            <h3>Dog Boarding</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Featured Box-->
            <!--Start Single Featured Box-->
            <div class="col-xl-4">
                <div class="single-featured-box">
                    <div class="inner">
                        <div class="icon">
                            <span class="icon-pet-bowl clr3"></span>
                        </div>
                        <div class="text">
                            <h3>Pet Adoption</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Featured Box-->
        </div>
    </div>
</section>

<!--Start About Style1 Area-->
<section class="about-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="about-style1-image-box">
                    <div class="about-style1-image-box-bg" style="background-image: url(/mehedi.asiandevelopers.com/demo/carepress/assets/images/shape/about-style1-image-box-bg.png)"></div>
                    <div class="main-image">
                        <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/about/about-1.png" alt="Awesome Image">
                    </div>
                    <div class="about-experience-box">
                        <div class="count-box">
                            <h2>
                                <span class="timer" data-from="1" data-to="20" data-speed="5000" data-refresh-interval="50">1020</span>
                                <span class="icon-plus plus-icon"></span>
                            </h2>
                            <h5>Years Experience</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5">
                <div class="about-style1-content-box">
                    <div class="sec-title">
                        <h5>//<span>About Us</span>//</h5>
                        <h2>Best Agency For<br> Your Pet<span class="round-box zoominout"></span></h2>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-tick"></span>
                                        </div>
                                        <div class="title">
                                            <h5>Certified Groomer</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-6">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-tick"></span>
                                        </div>
                                        <div class="title">
                                            <h5>Animal Lover</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-6">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-tick"></span>
                                        </div>
                                        <div class="title">
                                            <h5>14+ Years Experience</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-6">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-tick"></span>
                                        </div>
                                        <div class="title">
                                            <h5>Pet Parent Of 3 Dogs</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End About Style1 Area-->
<!-- Start Service Style2 Area -->
<section class="service-style2-area">
    <div class="zikjak" style="background-image: url(~/mehedi.asiandevelopers.com/demo/carepress/assets/images/shape/zikjak.png)"></div>
    <div class="container">
        <div class="sec-title text-center">
            <h5>//<span>Services</span>//</h5>
            <h2>What We Do<span class="round-box zoominout"></span></h2>
        </div>
        <div class="row">
            <!--Start Single Service Style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-service-style2" data-aos="fade-up">
                    <div class="inner-box">
                        <div class="big-text">01</div>
                        <div class="icon-holder">
                            <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/icon/services/1.png" alt="Icon">
                        </div>
                        <div class="text-holder">
                            <h3><a href="#">Pet Grooming</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <div class="button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Service Style2-->
            <!--Start Single Service Style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-service-style2" data-aos="fade-up">
                    <div class="inner-box">
                        <div class="big-text">02</div>
                        <div class="icon-holder">
                            <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/icon/services/2.png" alt="Icon">
                        </div>
                        <div class="text-holder">
                            <h3><a href="#">Dog Setting</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <div class="button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Service Style2-->
            <!--Start Single Service Style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-service-style2" data-aos="fade-up">
                    <div class="inner-box">
                        <div class="big-text">03</div>
                        <div class="icon-holder">
                            <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/icon/services/3.png" alt="Icon">
                        </div>
                        <div class="text-holder">
                            <h3><a href="#">Healthy Meals</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <div class="button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Service Style2-->
            <!--Start Single Service Style2-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-service-style2" data-aos="fade-up">
                    <div class="inner-box">
                        <div class="big-text">04</div>
                        <div class="icon-holder">
                            <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/icon/services/4.png" alt="Icon">
                        </div>
                        <div class="text-holder">
                            <h3><a href="#">Veterinary Service</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <div class="button">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Service Style2-->
        </div>

    </div>
</section>
<!-- End Service Style2 Area -->
<!--Start Feautres Area-->
<section class="feautres-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-6">
                <div class="working-hours-box" style="background-image: url(/mehedi.asiandevelopers.com/demo/carepress/assets/images/resources/working-hours-box-bg.jpg)">
                    <div class="inner-content">
                        <div class="title">
                            <h3>Working Hours<span></span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                        <ul>
                            <li><span class="left">Monday</span> <span class="right">08AM - 10PM</span></li>
                            <li><span class="left">Thuesday</span> <span class="right">08AM - 10PM</span></li>
                            <li><span class="left">Wednesday</span> <span class="right">08AM - 10PM</span></li>
                            <li><span class="left">Thursday</span> <span class="right">08AM - 10PM</span></li>
                            <li><span class="left">Friday</span> <span class="right">08AM - 10PM</span></li>
                            <li><span class="left">Saturday</span> <span class="right">08AM - 10PM</span></li>
                            <li><span class="left">Sunday</span> <span class="right holiday">Holiday</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="feautres-content-box">
                    <div class="sec-title">
                        <h5>//<span>Feautres</span>//</h5>
                        <h2>Core Level Features<span class="round-box zoominout"></span></h2>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>

                        <ul class="top">
                            <li>
                                <div class="inner">
                                    <div class="icon">
                                        <span class="icon-vet"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Pet Care</h3>
                                        <p>Get a solid solution</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <div class="icon">
                                        <span class="icon-injection"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Pet Medicine</h3>
                                        <p>Get a solid solution</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="bottom">
                            <li>
                                <div class="inner">
                                    <div class="icon">
                                        <span class="icon-veterinary"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Grooming</h3>
                                        <p>Get a solid solution</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <div class="icon">
                                        <span class="icon-vaccine"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Monthly Care</h3>
                                        <p>Get a solid solution</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Feautres Area-->
<!--Start Faq Style1 Area-->
<section class="faq-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faq-left-content">
                    <div class="sec-title">
                        <h5>//<span>Faq</span>//</h5>
                        <h2>Get Every Answer<br>From Here<span class="round-box zoominout"></span></h2>
                    </div>
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>How can i install this theme?</h4></div>
                            <div class="accord-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn active"><h4>What is terms & conditions?</h4></div>
                            <div class="accord-content collapsed">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>How can i make change on this theme?</h4></div>
                            <div class="accord-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block mar0">
                            <div class="accord-btn"><h4>What is your payment system?</h4></div>
                            <div class="accord-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="faq-style1-image-box">
                    <div class="faq-top">
                        <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/resources/faq-top-image.jpg" alt="">
                    </div>
                    <div class="faq-main-image">
                        <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/resources/faq-main-image.jpg" alt="">
                        <div class="box zoominout"></div>
                    </div>
                    <div class="faq-bottom">
                        <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/resources/faq-bottom-image.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Faq Style1 Area-->
<!--Start Choose Style1 Area-->
<section class="choose-style1-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-6">
                <div class="feautres-content-box">
                    <div class="sec-title">
                        <h5>//<span>Choices</span>//</h5>
                        <h2>Why Choose Us<span class="round-box zoominout"></span></h2>
                    </div>
                    <div class="inner-content">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>

                        <ul class="top">
                            <li>
                                <div class="inner">
                                    <div class="icon">
                                        <span class="icon-vet"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Pet Care</h3>
                                        <p>Get a solid solution</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <div class="icon">
                                        <span class="icon-injection"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Pet Medicine</h3>
                                        <p>Get a solid solution</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="bottom">
                            <li>
                                <div class="inner">
                                    <div class="icon">
                                        <span class="icon-veterinary"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Grooming</h3>
                                        <p>Get a solid solution</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <div class="icon">
                                        <span class="icon-vaccine"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Monthly Care</h3>
                                        <p>Get a solid solution</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="choose-style1-image-box">
                    <img src="~/mehedi.asiandevelopers.com/demo/carepress/assets/images/resources/choose-style1-image.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Choose Style1 Area-->
<!--Start Home map area-->

<!--End Home map area-->

<!--Start Blog Style2 Area-->
<section class="blog-style2-area">
    <div class="container">
        <div class="sec-title text-center">
            <h5>//<span>News</span>//</h5>
            <h2>News & Feeds<span class="round-box zoominout"></span></h2>
        </div>
        <div class="row">
            <!--Start Single blog Style2-->
            <div class="col-xl-4 col-lg-12">
                <div class="single-blog-style1 style1instyle2 wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="overlay-bg" style="background-image: url(https://images.wallpaperscraft.com/image/single/red_panda_tree_bark_285575_1280x720.jpg) "></div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><span class="icon-user"></span><a href="#">By Admin</a></li>
                            <li><span class="icon-tag"></span><a href="#">Pet, Care, Medicine</a></li>
                        </ul>
                        <h3 class="blog-title"><a href="blog-single.html">Share five inspirational Quotes of the Day with friends<span class="round-box zoominout"></span></a></h3>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single blog Style2-->
            <!--Start Single blog Style2-->
            <div class="col-xl-4 col-lg-12">
                <div class="single-blog-style1 style1instyle2 wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="overlay-bg" style="background-image: url(~/mehedi.asiandevelopers.com/demo/carepress/assets/images/blog/blog-v2-overlay-bg-1.jpg)"></div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><span class="icon-user"></span><a href="#">By Admin</a></li>
                            <li><span class="icon-tag"></span><a href="#">Pet, Care, Medicine</a></li>
                        </ul>
                        <h3 class="blog-title"><a href="blog-single.html">Share five inspirational Quotes of the Day with friends<span class="round-box zoominout"></span></a></h3>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single blog Style2-->
            <!--Start Single blog Style2-->
            <div class="col-xl-4 col-lg-12">
                <div class="single-blog-style1 style1instyle2 wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="overlay-bg" style="background-image: url(~/mehedi.asiandevelopers.com/demo/carepress/assets/images/blog/blog-v2-overlay-bg-1.jpg)"></div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><span class="icon-user"></span><a href="#">By Admin</a></li>
                            <li><span class="icon-tag"></span><a href="#">Pet, Care, Medicine</a></li>
                        </ul>
                        <h3 class="blog-title"><a href="blog-single.html">Share five inspirational Quotes of the Day with friends<span class="round-box zoominout"></span></a></h3>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore ma gna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single blog Style2-->
        </div>
    </div>
</section>

